.Page1_title{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: lighter;
    font-size: 40px;
    margin-top: 30px;
}
.Page1_line{
    width: 7%;
    height:2px;
    border-width:0;
    color:orange;
    background-color:orange;
    margin-bottom: 45px;
}
body{
    background-color: white;
}
.Page1_text{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: lighter;
    font-size: 22px;
    line-height: 12px;
}
.Page1_parts{
    margin-right: 140px;
    font-weight: 700;
    font-size: 20px;
    line-height: 10px;
    display: flex;
    list-style: none;
    font-weight: bold;
    justify-content: space-evenly;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    
    
}
.Page1_svg{
    display:flex;
    padding-top: 30px;
    padding-right: 210px;
    justify-content: space-evenly;
}
.Page1_text1{
    margin-top: -20px;
    line-height: 30px;
    margin-left: 215px;
    width: 1060px;
    text-align:left;
    font-weight: 600;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    
}
